
.nave{
    width: 98%;
	margin: 1%;
    border: 2px solid;
}
.contenido{
	width: 98%;
	margin: 1%;
	height: 100%;
	border: 2px solid;
}
ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


ul > a{
    width: 50%;
    background: #363636;
    color: #ffffff;
    text-decoration: none;
    padding: 2%;
    cursor: pointer;
}
ul > a:hover{
    background: #1A6997;
    color: #ffffff;
}

.activo{
    background:  #1A6997;
}

button{
    margin: 1%;
}
