<div class="contenedor">
  <nav class="nave">
    <ul>
      <a (click)="cambio(true)">Datos Personales</a>
      <a (click)="cambio(false)">Historial</a>
    </ul>
  </nav>
  <div class="contenido">
    <div>
      <button type="button" class="btn btn-secondary" routerLink="/administrador_inicio">Atras</button>
    </div>
    <app-administrador-personal *ngIf="show;else historial" [administrador]="administrador"></app-administrador-personal>
    <ng-template #historial>
      <app-administrador-historial></app-administrador-historial>
    </ng-template>
  </div>
</div>