<div class="inicio">
  <button  type="button" class="btn btn-secondary" routerLink="/turno_inicio">Atras</button>
  <div>
    <p>Nombre:</p>
    <p>{{turno.nombre}}</p>
    <a href="">Cambiar</a>
  </div>
  <div>
    <p>Monto:</p>
    <p>{{turno.monto}}</p>  
  </div>
  <div>
    <p>Hora Inicio:</p>
    <p>{{turno.horaInicio}}</p>
  </div>
  <div>
    <p>Hora Fin:</p>
    <p>{{turno.horaFin}}</p>
  </div>
  <h5>Historial de Cambios</h5>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" *ngFor="let titulo of titulos">{{titulo}}</th>
        </tr>
      </thead>
      <tbody>
          <th>1</th>
          <th>Administrador Nombre</th>
          <th>se cambio de ... a ...</th>
          <th>fecha</th>
      </tbody>
    </table>
</div>