.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.nave{
    width: 30%;
	margin: 1% 1% 0 1%;
	border: 2px solid;
}
.contenido{
	width: 67%;
	margin: 1% 0 0 0;
	height: 100%;
	border: 2px solid;
}
ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}
a{
    width: 100%;
    background: #363636;
    color: #ffffff;
    text-decoration: none;
    padding: 5%;
    cursor: pointer;
}
a:hover{
    background: #1A6997;
    color: #ffffff;
}